* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarContainer {
  background-color: #212121;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}
.menu-div {
  display: none;
}
a {
  font-size: 17px;
  cursor: pointer;
  position: relative;
  line-height: 40px;
  z-index: 1;
  color: #000 !important;
  font-weight: 500;
}
a:hover {
  color: #000 !important;
}

.filter-container {
  background-color: #fff;
  position: fixed;
  top: 80px;
  padding: 10px 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.prev.disabled,
.next.disabled {
  pointer-events: none;
  color: grey;
}

.filter label {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.filter select {
  width: 200px;
  padding: 6px;
  border-radius: 5px;
  margin-top: 5px;
  outline: none;
}

.filterHeading {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  padding: 10px 12px;
  cursor: pointer;
}
.filterHeading:hover {
  background-color: #f5f8fa;
}

.table-container {
  margin-top: 190px;
}
.table-head {
  background-color: rgba(169, 0, 6, 0.2);
  text-transform: uppercase;
  color: #212121;
  font-size: 15px;
}
.loader {
  width: 100%;
  height: 100vh;
}
.loaderT {
  width: 100%;
  height: 200px;
}

th {
  border-top: 2px solid #a90006;
  border-bottom: 2px solid #a90006 !important;
}

th,
td {
  padding: 15px 15px !important;
}

tbody tr:hover {
  background-color: #f5f8fa;
}

.btn {
  padding: 5px 8px !important;
}
.slotBtnS {
  background-color: rgb(212, 237, 218);
  color: green;
}
.slotBtnS:hover {
  color: green !important;
}
.slotBtnB {
  background-color: rgb(248, 215, 218);
  color: #a90006;
}
.slotBtnB:hover {
  color: #a90006 !important;
}

@media screen and (max-width: 992px) {
  .menu-div {
    position: relative;
    display: block;
  }
  .menu-icon-div {
    width: 45px;
    height: 45px;
    background-color: #a90006;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
  }
  .menus-parent {
    position: absolute;
    top: 52px;
    right: 5px;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .menus {
    height: 200px !important;
    /* width: 230px;
    height: 200px; */
    /* position: absolute;
    top: 52px;
    right: 5px; */
    background-color: #fff;
    border: 2px solid #a90006;
    padding: 10px 0;
    overflow-y: scroll;
  }
  .no-menus {
    width: 100vw;
    height: 100vh;
    margin-top: -10vw;
  }
  .filter-container {
    display: none;
  }
  .filter select {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    margin: 5px 0;
    outline: none;
  }
  .table-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .filter select {
    width: 100%;
  }
  .table-container {
    margin-top: 100px;
  }
}
